<!DOCTYPE html>
<html>
<head>
  <title>Carouser</title>
  <%= stylesheet_link_tag  "main", :media => "all" %>
</head>

<body>
<div id="wrapper">
	<div id="header">
		<div id="nav"><%= link_to "Home", events_path %> | <a href="#">About</a> | <a href="#">Contact</a> | <a href="#">My Events</a></div>
		<div id="bg"></div>
	</div>

	<%= yield %>

	<div id="footer">
		Copyright &copy; 2013 Apollo Creed. All rights reserved.<br/>
		Happy Hour Responsibly</a>.
	</div>
</div>
</body>
</html>
